<div class="wrapper full-vh full-vw">
  <div class="container full-vh full-vw msg-container center-content-v">
    <div class="row">
      <div class="col-12">
        <div class="text-center error-code">
                    <span class="icon">
                    <span class="material-icons icon">
                        warning
                    </span>
                    </span>
         404
        </div>
      </div>
      <div class="col-12 center-content-v">
        <p class="text-center">
          Pagina non trovata
        </p>
      </div>
    </div>
  </div>
</div>
