@import 'variables';

.full-height {
  display: flex;
  flex-direction: column;
  min-height: $body-full-height;
}

.center-content-v {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


