<div class="row pt-md-5 pt-sm-2s">
  <div class="col-sm-12 col-md-6 text-center center-content-v">
    <mat-card class="mb-3 card-height">
      <mat-card-header class="justify-content-center">
        <mat-card-title class="color-text-primary">Autenticazione LDAP</mat-card-title>
      </mat-card-header>
      <mat-card-content class="content-height">
        <form [formGroup]="loginForm">
          <div class="col-md-12">
            <mat-form-field>
              <input type="text" matInput formControlName="username" placeholder="Username" autocomplete="off">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field>
              <input type="password" matInput formControlName="password" placeholder="Password"
                     autocomplete="new-password">
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <div matTooltip="Enter username and password first" [matTooltipDisabled]="!loginForm.invalid">
          <button mat-flat-button color="primary" (click)="login()"
                  matTooltip="Autenticazione LDAP"
                  [disabled]="loginForm.invalid"> Login LDAP
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-sm-12 col-md-6 center-content-v text-center">
    <mat-card class="mb-3 card-height">
      <mat-card-header class="justify-content-center">
        <mat-card-title class="color-text-primary">Autenticazione fedERa</mat-card-title>
      </mat-card-header>
      <mat-card-content class="content-height">

      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary"
                matTooltip="Autenticazione fedERa"
                (click)="federa()"> fedERa
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
