/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import 'variables.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.hidden {
  display: none;
}

.color-text-light {
  color: $color-text-primary!important;
}

.color-text-primary {
  color: $color-primary;
}

.mat-tooltip {
  white-space: pre-line;
}

.center-content-v {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-height {
  height: 300px;
}

.card-border {
  border: 1px solid  $color-primary;
}

.content-height {
  height: 100px;
}


